{{#partial "content"}}
    <div id="hero" class="card">
        <img src="/images/blankmiddle.jpg" class="img-fluid ">
        <div class="card-img-overlay   d-flex flex-column align-items-center justify-content-center">

                <!--show squads-->
                {{#if squads}}
                  <h2>  HERE ARE YOUR SQUADS</h2>
                    {{#each squads}}
                                <h1>{{ squadName }} </h1>
                                <p>Purpose: {{cause}}</p>
                                <p>Number of members: {{ squadSize }}</p>
                                <br><br>
                                <h3>MEMBERS</h3>
                                <button class="addMember add-btn" >Add New Member</button>
                                {{#each squadMembers}}
                                    <div class="members">
                                        <h5>Name: {{name}}</h5>
                                        <h5>Power: {{power}}</h5>
                                        <h5>Weakness: {{weakness}}</h5>
                                    </div>
                                {{/each}}


                    {{/each}}
                {{else}}
                    <h2>Create a squad to continue</h2>
                    <a href="/squad-form"><button class="listbtn btn-primary">Create A Squad</button></a>
                {{/if}}
            </div>


        </div>
{{/partial}}
{{> layout.hbs}}